* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: hsl(216, 12%, 8%);
}

.main {
  background-color: hsl(213, 19%, 18%);
}

.star-image {
  padding: 1rem;
}
